<!DOCTYPE html>

<html>


<head>
    <link rel="icon" href="/img/weathericon.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css"> 
    
</head>


<body>
    <div class="main-content">
        {{>header}}
        <img class="about-image" src="img/example_image.jpg">
    </div>

    {{>footer}}
</body>



</html>