<!DOCTYPE html>

<html>


<head>
    <link rel="icon" href="/img/weathericon.png">
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css"> 
</head>


<body>
    <div class="main-content">
        {{>header}}
        {{content}} 
    </div>

    {{>footer}}
   
</body>



</html>